<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StickyPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <StickyPad.Properties.Settings>
            <setting name="NoteTab1Contents" serializeAs="String">
                <value>Tab1</value>
            </setting>
            <setting name="NoteTab2Contents" serializeAs="String">
                <value>Tab2</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>#FFF3F3F3</value>
            </setting>
            <setting name="Tab1IsActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="TextCaret" serializeAs="String">
                <value>#FFE2E2E2</value>
            </setting>
            <setting name="UseAccentWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAccentBorder" serializeAs="String">
                <value>True</value>
            </setting>
        </StickyPad.Properties.Settings>
    </userSettings>
</configuration>
